# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

from pandas_datareader import data, wb

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [2]:
pd.date_range('01/01/2015', pd.datetime.now())

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2020-04-22', '2020-04-23', '2020-04-24', '2020-04-25',
               '2020-04-26', '2020-04-27', '2020-04-28', '2020-04-29',
               '2020-04-30', '2020-05-01'],
              dtype='datetime64[ns]', length=1948, freq='D')

In [3]:
start = pd.datetime(2015, 1, 1)
end = pd.datetime.today()

In [4]:
start

datetime.datetime(2015, 1, 1, 0, 0)

In [5]:
end

datetime.datetime(2020, 5, 1, 11, 19, 20, 391899)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [10]:
stocks = ['AAPL', 'TSLA', 'IBM', 'LNKD']

### Step 4. Read the data from google, assign to df and print it

In [26]:
df = data.DataReader(stocks, 'google', start, end)

NotImplementedError: data_source='google' is not implemented

In [12]:
df

Attributes   Adj Close                                    Close              \
Symbols           AAPL         IBM LNKD        TSLA        AAPL         IBM
Date
2014-12-31  101.178932  127.949593  NaN  222.410004  110.379997  160.440002
2015-01-02  100.216454  129.241516  NaN  219.309998  109.330002  162.059998
2015-01-05   97.393181  127.207932  NaN  210.089996  106.250000  159.509995
2015-01-06   97.402374  124.464600  NaN  211.279999  106.260002  156.070007
2015-01-07   98.768150  123.651100  NaN  210.949997  107.750000  155.050003
2015-01-08  102.563072  126.338654  NaN  210.619995  111.889999  158.419998
2015-01-09  102.673050  126.888924  NaN  206.660004  112.010002  159.110001
2015-01-12  100.143120  124.759621  NaN  202.210007  109.250000  156.440002
2015-01-13  101.032280  125.054688  NaN  204.250000  110.220001  156.809998
2015-01-14  100.647285  124.249229  NaN  192.690002  109.800003  155.800003
2015-01-15   97.915672  123.268295  NaN  191.869995  106.820000  154.570007
2015-01-16   97.154854  125.317848  NaN  193.070007  105.989998  157.139999
2015-01-20   99.657303  125.166313  NaN  191.929993  108.720001  156.949997
2015-01-21  100.418114  121.290527  NaN  196.570007  109.550003  152.089996
2015-01-22  103.030556  123.922241  NaN  201.619995  112.400002  155.389999
2015-01-23  103.562195  124.305031  NaN  201.289993  112.980003  155.869995
2015-01-26  103.672188  124.695824  NaN  206.550003  113.099998  156.360001
2015-01-27  100.042297  122.550560  NaN  205.979996  109.139999  153.669998
2015-01-28  105.697968  120.859871  NaN  199.369995  115.309998  151.550003
2015-01-29  108.988716  123.994011  NaN  205.199997  118.900002  155.479996
2015-01-30  107.393768  122.263451  NaN  203.600006  117.160004  153.309998
2015-02-02  108.741241  123.340088  NaN  210.940002  118.629997  154.660004
2015-02-03  108.759560  126.378494  NaN  218.360001  118.650002  158.470001
2015-02-04  109.593704  125.174309  NaN  218.550003  119.559998  156.960007
2015-02-05  110.375908  125.931908  NaN  220.990005  119.940002  157.910004
2015-02-06  109.446465  125.859650  NaN  217.360001  118.930000  156.720001
2015-02-09  110.173470  125.080666  NaN  217.479996  119.720001  155.750000
2015-02-10  112.290047  127.337334  NaN  216.289993  122.019997  158.559998
2015-02-11  114.922012  127.048225  NaN  212.800003  124.879997  158.199997
2015-02-12  116.376022  127.305206  NaN  202.880005  126.459999  158.520004
...                ...         ...  ...         ...         ...         ...
2020-03-19  244.779999  100.339996  NaN  427.640015  244.779999  100.339996
2020-03-20  229.240005   95.389999  NaN  427.529999  229.240005   95.389999
2020-03-23  224.369995   94.769997  NaN  434.290009  224.369995   94.769997
2020-03-24  246.880005  105.480003  NaN  505.000000  246.880005  105.480003
2020-03-25  245.520004  105.849998  NaN  539.250000  245.520004  105.849998
2020-03-26  258.440002  112.889999  NaN  528.159973  258.440002  112.889999
2020-03-27  247.740005  108.029999  NaN  514.359985  247.740005  108.029999
2020-03-30  254.809998  112.930000  NaN  502.130005  254.809998  112.930000
2020-03-31  254.289993  110.930000  NaN  524.000000  254.289993  110.930000
2020-04-01  240.910004  105.139999  NaN  481.559998  240.910004  105.139999
2020-04-02  244.929993  110.000000  NaN  454.470001  244.929993  110.000000
2020-04-03  241.410004  106.339996  NaN  480.010010  241.410004  106.339996
2020-04-06  262.470001  114.820000  NaN  516.239990  262.470001  114.820000
2020-04-07  259.429993  114.940002  NaN  545.450012  259.429993  114.940002
2020-04-08  266.070007  119.290001  NaN  548.840027  266.070007  119.290001
2020-04-09  267.989990  121.500000  NaN  573.000000  267.989990  121.500000
2020-04-13  273.250000  121.150002  NaN  650.950012  273.250000  121.150002
2020-04-14  287.049988  123.910004  NaN  709.890015  287.049988  123.910004
2020-04-15  284.429993  118.690002  NaN  729.830017  284.429993  118.690002
2020-04-16  286.690002  115.730003  NaN  745.210022  286.690002  115.730003
2020-04-17  282.799988  120.120003  NaN  753.890015  282.799988  120.120003
2020-04-20  276.929993  120.410004  NaN  746.359985  276.929993  120.410004
2020-04-21  268.369995  116.760002  NaN  686.719971  268.369995  116.760002
2020-04-22  276.100006  119.309998  NaN  732.109985  276.100006  119.309998
2020-04-23  275.029999  121.349998  NaN  705.630005  275.029999  121.349998
2020-04-24  282.970001  124.720001  NaN  725.150024  282.970001  124.720001
2020-04-27  283.170013  125.919998  NaN  798.750000  283.170013  125.919998
2020-04-28  278.579987  126.269997  NaN  769.119995  278.579987  126.269997
2020-04-29  287.730011  128.690002  NaN  800.510010  287.730011  128.690002
2020-04-30  293.799988  125.559998  NaN  781.880005  293.799988  125.559998

Attributes                         High                 ...      Low  \
Symbols    LNKD        TSLA        AAPL         IBM     ...     LNKD
Date                                                    ...
2014-12-31  NaN  222.410004  113.129997  161.500000     ...      NaN
2015-01-02  NaN  219.309998  111.440002  163.309998     ...      NaN
2015-01-05  NaN  210.089996  108.650002  161.270004     ...      NaN
2015-01-06  NaN  211.279999  107.430000  159.960007     ...      NaN
2015-01-07  NaN  210.949997  108.199997  157.199997     ...      NaN
2015-01-08  NaN  210.619995  112.150002  159.039993     ...      NaN
2015-01-09  NaN  206.660004  113.250000  160.339996     ...      NaN
2015-01-12  NaN  202.210007  112.629997  159.250000     ...      NaN
2015-01-13  NaN  204.250000  112.800003  159.970001     ...      NaN
2015-01-14  NaN  192.690002  110.489998  156.490005     ...      NaN
2015-01-15  NaN  191.869995  110.059998  156.970001     ...      NaN
2015-01-16  NaN  193.070007  107.580002  157.630005     ...      NaN
2015-01-20  NaN  191.929993  108.970001  157.330002     ...      NaN
2015-01-21  NaN  196.570007  111.059998  154.500000     ...      NaN
2015-01-22  NaN  201.619995  112.470001  155.720001     ...      NaN
2015-01-23  NaN  201.289993  113.750000  157.600006     ...      NaN
2015-01-26  NaN  206.550003  114.360001  159.460007     ...      NaN
2015-01-27  NaN  205.979996  112.480003  155.089996     ...      NaN
2015-01-28  NaN  199.369995  118.120003  154.529999     ...      NaN
2015-01-29  NaN  205.199997  119.190002  155.580002     ...      NaN
2015-01-30  NaN  203.600006  120.000000  155.240005     ...      NaN
2015-02-02  NaN  210.940002  119.169998  154.660004     ...      NaN
2015-02-03  NaN  218.360001  119.089996  158.600006     ...      NaN
2015-02-04  NaN  218.550003  120.510002  158.710007     ...      NaN
2015-02-05  NaN  220.990005  120.230003  158.589996     ...      NaN
2015-02-06  NaN  217.360001  120.250000  158.080002     ...      NaN
2015-02-09  NaN  217.479996  119.839996  157.500000     ...      NaN
2015-02-10  NaN  216.289993  122.150002  158.559998     ...      NaN
2015-02-11  NaN  212.800003  124.919998  159.089996     ...      NaN
2015-02-12  NaN  202.880005  127.480003  159.500000     ...      NaN
...         ...         ...         ...         ...     ...      ...
2020-03-19  NaN  427.640015  252.839996  103.690002     ...      NaN
2020-03-20  NaN  427.529999  251.830002  100.989998     ...      NaN
2020-03-23  NaN  434.290009  228.500000   97.739998     ...      NaN
2020-03-24  NaN  505.000000  247.690002  106.040001     ...      NaN
2020-03-25  NaN  539.250000  258.250000  112.480003     ...      NaN
2020-03-26  NaN  528.159973  258.679993  113.150002     ...      NaN
2020-03-27  NaN  514.359985  255.869995  111.500000     ...      NaN
2020-03-30  NaN  502.130005  255.520004  113.459999     ...      NaN
2020-03-31  NaN  524.000000  262.489990  113.809998     ...      NaN
2020-04-01  NaN  481.559998  248.720001  109.919998     ...      NaN
2020-04-02  NaN  454.470001  245.149994  110.320000     ...      NaN
2020-04-03  NaN  480.010010  245.699997  110.070000     ...      NaN
2020-04-06  NaN  516.239990  263.109985  115.629997     ...      NaN
2020-04-07  NaN  545.450012  271.700012  119.570000     ...      NaN
2020-04-08  NaN  548.840027  267.369995  119.959999     ...      NaN
2020-04-09  NaN  573.000000  270.070007  122.919998     ...      NaN
2020-04-13  NaN  650.950012  273.700012  121.800003     ...      NaN
2020-04-14  NaN  709.890015  288.250000  125.180000     ...      NaN
2020-04-15  NaN  729.830017  286.329987  120.190002     ...      NaN
2020-04-16  NaN  745.210022  288.200012  119.750000     ...      NaN
2020-04-17  NaN  753.890015  286.950012  120.389999     ...      NaN
2020-04-20  NaN  746.359985  281.679993  122.860001     ...      NaN
2020-04-21  NaN  686.719971  277.250000  117.150002     ...      NaN
2020-04-22  NaN  732.109985  277.899994  120.330002     ...      NaN
2020-04-23  NaN  705.630005  281.750000  123.029999     ...      NaN
2020-04-24  NaN  725.150024  283.010010  125.000000     ...      NaN
2020-04-27  NaN  798.750000  284.540009  126.989998     ...      NaN
2020-04-28  NaN  769.119995  285.829987  128.199997     ...      NaN
2020-04-29  NaN  800.510010  289.670013  129.309998     ...      NaN
2020-04-30  NaN  781.880005  294.529999  127.269997     ...      NaN

Attributes                    Open                                    Volume  \
Symbols           TSLA        AAPL         IBM LNKD        TSLA         AAPL
Date
2014-12-31  222.250000  112.820000  160.410004  NaN  223.089996   41403400.0
2015-01-02  213.259995  111.389999  161.309998  NaN  222.869995   53204600.0
2015-01-05  207.160004  108.290001  161.270004  NaN  214.550003   64285500.0
2015-01-06  204.210007  106.540001  159.669998  NaN  210.059998   65797100.0
2015-01-07  209.779999  107.199997  157.199997  NaN  213.350006   40105900.0
2015-01-08  210.009995  109.230003  156.240005  NaN  212.809998   59364500.0
2015-01-09  204.960007  112.669998  158.419998  NaN  208.919998   53699500.0
2015-01-12  199.250000  112.599998  159.000000  NaN  203.050003   49650800.0
2015-01-13  200.910004  111.430000  157.259995  NaN  203.320007   67091900.0
2015-01-14  185.000000  109.040001  154.860001  NaN  185.830002   48956600.0
2015-01-15  190.000000  110.000000  156.690002  NaN  194.490005   60014000.0
2015-01-16  189.649994  107.029999  153.820007  NaN  190.699997   78513300.0
2015-01-20  187.039993  107.839996  156.699997  NaN  193.869995   49899900.0
2015-01-21  189.509995  108.949997  153.029999  NaN  189.550003   48575900.0
2015-01-22  195.199997  110.260002  151.940002  NaN  197.000000   53796400.0
2015-01-23  198.330002  112.300003  155.029999  NaN  200.289993   46464800.0
2015-01-26  201.050003  113.739998  158.259995  NaN  201.830002   55615000.0
2015-01-27  203.300003  112.419998  154.940002  NaN  204.419998   95568700.0
2015-01-28  198.419998  117.629997  154.000000  NaN  206.110001  146477100.0
2015-01-29  196.500000  116.320000  151.380005  NaN  201.070007   84436400.0
2015-01-30  203.000000  118.400002  153.910004  NaN  203.960007   83745500.0
2015-02-02  203.300003  118.050003  154.000000  NaN  203.970001   62739100.0
2015-02-03  211.270004  118.500000  154.750000  NaN  213.220001   51915700.0
2015-02-04  216.800003  118.500000  157.210007  NaN  218.289993   70149700.0
2015-02-05  219.639999  120.019997  157.289993  NaN  219.880005   42246200.0
2015-02-06  216.500000  120.019997  157.339996  NaN  222.000000   43706600.0
2015-02-09  211.990005  118.550003  156.000000  NaN  215.380005   38889800.0
2015-02-10  215.000000  120.169998  156.740005  NaN  217.550003   62008500.0
2015-02-11  207.279999  122.769997  157.759995  NaN  212.210007   73561800.0
2015-02-12  193.279999  126.059998  158.720001  NaN  193.570007   74474500.0
...                ...         ...         ...  ...         ...          ...
2020-03-19  358.459991  247.389999  102.330002  NaN  374.700012   67964300.0
2020-03-20  425.790009  247.179993  100.919998  NaN  438.200012  100423300.0
2020-03-23  410.500000  228.080002   94.599998  NaN  433.600006   84188200.0
2020-03-24  474.000000  236.360001   99.989998  NaN  477.299988   71882800.0
2020-03-25  511.109985  250.750000  105.480003  NaN  545.250000   75900500.0
2020-03-26  512.250000  246.520004  106.910004  NaN  547.390015   63021800.0
2020-03-27  494.029999  252.750000  108.580002  NaN  505.000000   51054200.0
2020-03-30  491.230011  250.740005  108.089996  NaN  510.260010   41994100.0
2020-03-31  497.000000  255.600006  112.000000  NaN  501.250000   49250500.0
2020-04-01  475.100006  246.500000  106.360001  NaN  504.000000   44054600.0
2020-04-02  446.399994  240.339996  105.370003  NaN  481.029999   41483500.0
2020-04-03  468.390015  242.800003  108.919998  NaN  509.500000   32470000.0
2020-04-06  497.959991  250.899994  110.349998  NaN  511.200012   50455100.0
2020-04-07  532.340027  270.799988  118.800003  NaN  545.000000   50721800.0
2020-04-08  533.330017  262.739990  116.309998  NaN  554.200012   42223800.0
2020-04-09  557.109985  268.700012  120.480003  NaN  562.090027   40529100.0
2020-04-13  580.530029  268.309998  121.629997  NaN  590.159973   32755700.0
2020-04-14  692.429993  280.000000  123.459999  NaN  698.969971   48748700.0
2020-04-15  710.000000  282.399994  119.120003  NaN  742.000000   32788600.0
2020-04-16  706.719971  287.380005  119.010002  NaN  716.940002   39281300.0
2020-04-17  747.659973  284.690002  119.300003  NaN  772.280029   53812500.0
2020-04-20  712.210022  277.950012  119.150002  NaN  732.700012   32503800.0
2020-04-21  673.789978  276.279999  114.000000  NaN  730.119995   45247900.0
2020-04-22  688.710022  273.609985  119.870003  NaN  703.979980   29264300.0
2020-04-23  703.130005  275.869995  119.570000  NaN  727.599976   31203600.0
2020-04-24  698.179993  277.200012  122.410004  NaN  710.809998   31627200.0
2020-04-27  735.000000  281.799988  125.559998  NaN  737.609985   29271900.0
2020-04-28  756.690002  285.079987  128.029999  NaN  795.640015   28001200.0
2020-04-29  783.159973  284.730011  128.880005  NaN  790.169983   34320200.0
2020-04-30  763.500000  289.959991  126.519997  NaN  855.190002   45457600.0

Attributes
Symbols            IBM LNKD        TSLA
Date
2014-12-31   4011900.0  NaN   2297500.0
2015-01-02   5525500.0  NaN   4764400.0
2015-01-05   4880400.0  NaN   5368500.0
2015-01-06   6146700.0  NaN   6261900.0
2015-01-07   4701800.0  NaN   2968400.0
2015-01-08   4236800.0  NaN   3442500.0
2015-01-09   4488300.0  NaN   4668300.0
2015-01-12   4187600.0  NaN   5950300.0
2015-01-13   4377500.0  NaN   4477300.0
2015-01-14   4690300.0  NaN  11551900.0
2015-01-15   4248400.0  NaN   5216500.0
2015-01-16   5756000.0  NaN   3603200.0
2015-01-20   8392800.0  NaN   4503200.0
2015-01-21  11897100.0  NaN   4153000.0
2015-01-22   6120100.0  NaN   4116900.0
2015-01-23   4834800.0  NaN   3438600.0
2015-01-26   7888100.0  NaN   3234500.0
2015-01-27   5659600.0  NaN   2781000.0
2015-01-28   4495900.0  NaN   3149600.0
2015-01-29   8320800.0  NaN   3548100.0
2015-01-30   6563600.0  NaN   3007000.0
2015-02-02   4712200.0  NaN   4149200.0
2015-02-03   5539400.0  NaN   4826200.0
2015-02-04   3678500.0  NaN   3305400.0
2015-02-05   5253600.0  NaN   3522900.0
2015-02-06   3256500.0  NaN   3243900.0
2015-02-09   3057700.0  NaN   3472400.0
2015-02-10   4440600.0  NaN   5390500.0
2015-02-11   3626700.0  NaN   9769100.0
2015-02-12   3333100.0  NaN  15649600.0
...                ...  ...         ...
2020-03-19   8396500.0  NaN  30195500.0
2020-03-20  10546500.0  NaN  28285500.0
2020-03-23   9729400.0  NaN  16454500.0
2020-03-24   7973900.0  NaN  22895200.0
2020-03-25   8654000.0  NaN  21222700.0
2020-03-26   7153500.0  NaN  17380700.0
2020-03-27   6423000.0  NaN  14377400.0
2020-03-30   5564500.0  NaN  11998100.0
2020-03-31   6343300.0  NaN  17771500.0
2020-04-01   6112900.0  NaN  13353200.0
2020-04-02   6328700.0  NaN  19858400.0
2020-04-03   4538800.0  NaN  22562100.0
2020-04-06   7034200.0  NaN  14901800.0
2020-04-07   5595300.0  NaN  17919800.0
2020-04-08   5158600.0  NaN  12656000.0
2020-04-09   5576800.0  NaN  13650000.0
2020-04-13   5119700.0  NaN  22475400.0
2020-04-14   5088700.0  NaN  30576500.0
2020-04-15   5637300.0  NaN  23577000.0
2020-04-16   6457600.0  NaN  20657900.0
2020-04-17   4966000.0  NaN  13128200.0
2020-04-20   8181700.0  NaN  14746600.0
2020-04-21  14349000.0  NaN  20209100.0
2020-04-22   7087900.0  NaN  14224800.0
2020-04-23   6881600.0  NaN  13236700.0
2020-04-24   4987300.0  NaN  13237600.0
2020-04-27   4923800.0  NaN  20681400.0
2020-04-28   4778100.0  NaN  15222000.0
2020-04-29   5257600.0  NaN  16216000.0
2020-04-30   6632000.0  NaN  28400100.0

[1342 rows x 24 columns]

### Step 5.  What is the type of structure of df ?

In [13]:
df.dtypes

Attributes  Symbols
Adj Close   AAPL       float64
            IBM        float64
            LNKD       float64
            TSLA       float64
Close       AAPL       float64
            IBM        float64
            LNKD       float64
            TSLA       float64
High        AAPL       float64
            IBM        float64
            LNKD       float64
            TSLA       float64
Low         AAPL       float64
            IBM        float64
            LNKD       float64
            TSLA       float64
Open        AAPL       float64
            IBM        float64
            LNKD       float64
            TSLA       float64
Volume      AAPL       float64
            IBM        float64
            LNKD       float64
            TSLA       float64
dtype: object

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [21]:
# df.items

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [23]:
vol = df['Volumn']

KeyError: 'Volumn'

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

### Step 9. Find all the volume traded in the year of 2015

### BONUS: Create your own question and answer it.