# Scores

### Introduction:

This time you will create the data.

***Exercise based on [Chris Albon](http://chrisalbon.com/) work, the credits belong to him.***

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Step 2. Create the DataFrame that should look like the one below.

In [3]:
df = df = pd.DataFrame([{'first_name': 'Jason', 'last_name': 'Miller', 'age': 42, 'female': 0, 'preTestScore': 4, 'postTestScore': 25},
                   {'first_name': 'Molly', 'last_name': 'Jacobsom', 'age': 52, 'female': 1, 'preTestScore': 24, 'postTestScore': 94},
                   {'first_name': 'Tina', 'last_name': 'Ali', 'age': 36, 'female': 1, 'preTestScore': 31, 'postTestScore': 57},
                   {'first_name': 'Jake', 'last_name': 'Milner', 'age': 24, 'female': 0, 'preTestScore': 2, 'postTestScore': 62},
                   {'first_name': 'Amy', 'last_name': 'Cooze', 'age': 73, 'female': 1, 'preTestScore': 3, 'postTestScore': 70},])

In [4]:
df

  first_name last_name  age  female  preTestScore  postTestScore
0      Jason    Miller   42       0             4             25
1      Molly  Jacobsom   52       1            24             94
2       Tina       Ali   36       1            31             57
3       Jake    Milner   24       0             2             62
4        Amy     Cooze   73       1             3             70

### Step 3. Create a Scatterplot of preTestScore and postTestScore, with the size of each point determined by age
#### Hint: Don't forget to place the labels

In [ ]:
plt.scatter(df.preTestScore, df.postTestScore, s=20)

### Step 4. Create a Scatterplot of preTestScore and postTestScore.
### This time the size should be 4.5 times the postTestScore and the color determined by sex

### BONUS: Create your own question and answer it.