# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [5]:
pokemon = pd.DataFrame([{'evolution': 'Ivyaur', 'hp': 45, 'name': 'Bulbasaur', 'pokedex': 'yes', 'type': 'grass'},
              {'evolution': 'Charmeleon', 'hp': 39, 'name': 'Charmander', 'pokedex': 'no', 'type': 'grass'},
              {'evolution': 'Wartortle', 'hp': 44, 'name': 'Squirtle', 'pokedex': 'yes', 'type': 'water'},
              {'evolution': 'Metapod', 'hp': 45, 'name': 'Caterpie', 'pokedex': 'no', 'type': 'bug'}])

In [6]:
pokemon

    evolution  hp        name pokedex   type
0      Ivyaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no  grass
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 3. Assign it to a variable called

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [7]:
pokemon.columns = ['name', 'type', 'hp', 'evolution', 'pokedex']

In [8]:
pokemon

         name  type          hp evolution pokedex
0      Ivyaur    45   Bulbasaur       yes   grass
1  Charmeleon    39  Charmander        no   grass
2   Wartortle    44    Squirtle       yes   water
3     Metapod    45    Caterpie        no     bug

### Step 5. Add another column called place, and insert what you have in mind.

In [9]:
pokemon['place'] = ['park', 'street', 'lake', 'forest']

In [10]:
pokemon

         name  type          hp evolution pokedex   place
0      Ivyaur    45   Bulbasaur       yes   grass    park
1  Charmeleon    39  Charmander        no   grass  street
2   Wartortle    44    Squirtle       yes   water    lake
3     Metapod    45    Caterpie        no     bug  forest

### Step 6. Present the type of each column

In [11]:
pokemon.dtypes

name         object
type          int64
hp           object
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.