# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [4]:
iris = pd.read_csv('../../data/iris.data', sep=',')

In [5]:
iris

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

### Step 4. Create columns for the dataset

In [57]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

In [7]:
iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

In [8]:
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

### Step 5.  Is there any missing value in the dataframe?

In [15]:
iris.isna().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
class           False
dtype: bool

In [40]:
iris.isnull().sum()

index           0
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [19]:
iris.loc[10:30,['petal_length']] = np.NaN

### Step 7. Good, now lets substitute the NaN values to 1.0

In [24]:
# iris = iris.fillna(1.0)

In [43]:
iris.petal_length.fillna(1.0, inplace=True)

### Step 8. Now let's delete the column class

In [27]:
del iris['class']

### Step 9.  Set the first 3 rows as NaN

In [29]:
iris.loc[0:3,:] = np.NaN

### Step 10.  Delete the rows that have NaN

In [44]:
iris = iris.dropna(how='any')

### Step 11. Reset the index so it begins with 0 again

In [48]:
iris = iris.reset_index(drop = True)

### BONUS: Create your own question and answer it.